<div>
  <h4>View Product Specification by Product Id</h4>
</div>
<div class="col-10 mx-auto p-2 m-2 input-group-prepend">
  <input type="number" placeholder="Enter Product Id" [(ngModel)]="productid" class="form-control" aria-label="" aria-describedby="basic-addon1">
  <input type="button" value="Search" (click)="viewbyproductid()" class="btn btn-success col-4 from-control" style="float: right;">
</div>
  <section>
    <div *ngIf="msg!=undefined" class="alert alert-danger">{{msg}}</div>
    <table class="table table-primary table-stripped table-hover" *ngIf="specs!=undefined">
      <tr>
        <th>Specification ID</th>
        <th>Specification Name</th>
        <th>Specification value</th>
        <th>Product ID</th>
      </tr>
      <tr *ngFor="let s of specs">
        <td>{{s.specId}}</td>
        <td>{{s.specName | titlecase}}</td>
        <td>{{s.specValue}}</td>
        <td>{{s.elecProdDetails.name}}</td>
      </tr>
    </table>
  </section>