<header class="col-8 mx-auto bg-light">
  <h1 class="text-center">Electronics Shop</h1>
</header>


<section class="col-8 mx-auto">
<ul class="nav nav-pills bg-primary text-white">
  <li class="nav-item">
    <a class="nav-link text text-white" >Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRODUCTS</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  routerLink='viewall'>View All Category</a>
      <a class="dropdown-item"  routerLink='viewbycategoryname'>View By Category Name</a>
      <a class="dropdown-item"  routerLink='viewbyproductId'>View By Product Id</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Product Specifications</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink='addproductspecs'>Add Product Specifications</a>
      <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">View Product Specifications</a>
    <div class="dropdown-menu">
      <!-- <a class="dropdown-item" routerLink='viewproductspecsbyproductid'>View Product Specifications by Product Id</a> -->
      <a class="dropdown-item" routerLink='viewproductspecsbyspecid'>View Product Specifications by Spec Id</a>
    </div>
    </div>
   
  </li>


</ul>
</section>
<article class="col-8 mx-auto">
  <router-outlet></router-outlet>
</article>